<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.supermarket.dao.ProductDao">
    <select id="search" resultMap="ProductDetail">
        SELECT product.*,type.typename from product ,type
        <where>
            product.tid=type.tid and product.tid = #{typeid}
        </where>
    </select>
    <resultMap id="ProductDetail" type="Product">
        <id column="pid" property="pid" />
        <result column="pname" property="pname" />
        <result column="price" property="price" />
        <result column="totalcount" property="totalcount" />
        <result column="intro" property="intro"/>
        <!--<result column="tid" property="typeid"/>-->
        <!--<result column="typename" property="typename" />-->

    </resultMap>

    <select id="searchPurchase" resultMap="PurchaseDetail">
        select purchase.*,product.pname,product.tid,type.typename from purchase,product,type
        <where>
            purchase.pid=#{pid} and purchase.pid = product.pid and product.tid=type.tid and
            purchase.pur_date between #{starttime} and #{endtime}
        </where>
    </select>
    <resultMap id="PurchaseDetail" type="Purchase">
        <id column="pid" property="pid" />
        <result column="pname" property="pname" />
        <result column="pur_price" property="price" />
        <result column="pur_count" property="count" />
        <result column="intro" property="intro"/>
        <result column="pur_date" property="date"/>
        <result column="tid" property="typeid"/>
    </resultMap>

    <select id="searchSell" resultMap="SellDetail">
        select sell.*,product.pname,product.tid,type.typename from sell,product,type
        <where>
            sell.pid=#{pid} and sell.pid = product.pid and product.tid=type.tid and
            sell.sell_date between #{starttime} and #{endtime}
        </where>
    </select>
    <resultMap id="SellDetail" type="aSell">
        <id column="pid" property="pid" />
        <result column="pname" property="pname" />
        <result column="sell_price" property="price" />
        <result column="sell_count" property="count" />
        <result column="sell_date" property="date"/>
        <result column="tid" property="typeid"/>
        <result column="uid" property="userid"/>
    </resultMap>

    <select id="getout" resultMap="outDetail">
        select * from outtable where pid = #{pid}
    </select>
    <resultMap id="outDetail" type="out">
        <id column="pid" property="pid"/>
        <result column="out_id" property="outid"/>
        <result column="out_count" property="count"/>
        <result column="out_date" property="date"/>
        <result column="out_reason" property="reason"/>
    </resultMap>

    <sql id="base">
        select * from product
    </sql>

    <select id="getProduct" resultType="Product">
        <include refid="base"></include>
        <where>
            <if test="null != nameKey">
                <bind name="key" value="'%'+nameKey+'%'"/>
                and pname like #{key}
            </if>
            <if test="null != typeId">
                and tid=#{typeId}
            </if>
            <if test="minPrice==null and maxPrice != null">
                and price &lt; #{maxPrice}
            </if>
            <if test="minPrice!=null and maxPrice == null">
                and price &gt; #{minPrice}
            </if>
            <if test="minPrice != null and maxPrice != null">
                and price between #{minPrice} and #{maxPrice}
            </if>
        </where>
    </select>
</mapper>